#calculadora {
    padding-top: 20px;
    border-radius: 25px;
    background: rgba(63, 64, 66, 0.7);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 45%;
    /* Estilos para el relieve */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    /* Sombra inferior */
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* Borde ligero */
    border-radius: 8px;
    /* Bordes redondeados */
}

.formulario2 {
    padding: 20px 10px;
    transition: 0.5s;
    width: 45%;
    color: black;
    /* Estilos para el relieve */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    /* Sombra inferior */
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* Borde ligero */
    border-radius: 8px;
    /* Bordes redondeados */
}

.separador {
    border-top: 3px solid #d6d6d6;
    /* Borde superior de 1px sólido con color #d6d6d6 */
}


.cuenta {
    font-size: 15px;
    text-align: left;
}

.cuenta h2 {
    font-family: "Open Sans", sans-serif;
}



.conversion {
    display: flex;
    flex-direction: column;
}



.formulario2 h1,
#calculadora h1 {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.formulario2 h1 {
    color: #2dc997;
}

.simbolos_cuenta_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.simbolos_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.img_num {
    width: 64px;
    height: 64px;
}

.img_numeral {
    width: 90px;
    height: 90px;
}

.img_intro {
    width: 200px;
    height: 200px;
}

.parejas_div {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.cuenta_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cuerpo-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
}

.parejas-seccion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.form-label {
    color: rgba(204, 211, 226);
    font-size: 20px;
}


.form-control {
    width: 100%;
    font-size: 18px;
    margin: auto;
}

.formulario-larga-greg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

#tabla {
    text-align: left;
    width: 100%;
}

.botones {
    background: #2dc997;
    border: 2px solid #2dc997;
    color: #fff;
}

.resultado p {
    font-size: 25px;
    color: #2dc997;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}


@media (max-width: 994px) {
    #inicio h1 {
        font-size: 25px;
        line-height: 36px;
        margin: 10px;
    }

    .form-control {
        font-size: 10px;
    }

    .form-label {
        font-size: 15px;
    }

    #calculadora {
        width: 100%;
    }

    .formulario2 {
        width: 100%;
    }



}

.loginfixed {
    margin-top: 360px;
    transition: 0.5s;
}

@media (min-width: 994px) {
    .loginfixed {
        margin-top: 75px;
    }
}